.error {
    font-size: 172px;
    color: #ffff00;
    padding-top: 6%;
    text-align: center;
    font-family: 'Teko', sans-serif;
    line-height: 1;
}

@media screen and (max-width: 830px) {
    .error {
        font-size: 72px;
        padding-top: 16%;
    }
}